{%extends "layout.html"%}
{%block content%}
<div class="current_members">
  <h1>Current Members</h1>
</div>
  <table class="report-table">
    <tr>
        <th>MemberID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Date Joined</th>
        <th>Membership Type</th>
    </tr>
    <tr>
        <td class="c1">1</td>
        <td class="c1">1</td>
        <td class="c1">1</td>
        <td class="c1">1</td>
        <td class="c1">1</td>
        <td class="c1">1</td>
    </tr>
  </table>
{%endblock%}
