{%extends "layout.html"%}
{%block content%}
<div class="employee_roster">
  <h1>Employee Roster</h1>
</div>
  <table class="report-table">
    <tr>
          <th>Month</th>
          <th>Payment</th>
          <th>Principal</th>
          <th>Interest</th>
          <th>Balance</th>
        </tr>
        <tr>
          <td class="c1">1</td>
          <td class="c2">2</td>
          <td class="c3">3</td>
          <td class="c4">4</td>
          <td class="c5">5</td>
        </tr>
  </table>
{%endblock%}
