
/*
* Formating for image
*/
img {  display: block;}
img.wrap {  max-width: 70%;  margin: 0px 0px; }
img.align-right {  float: right;  margin-left: 30px; }
img.align-left {  float: left;  margin-right: 30px; }
/*
* General html block formating
*/
body {
   margin: auto;
   padding: 5px;
   color: #dddddd;
   background-color: #faf0f0;
   font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1.logo {
  font-size: 1.8em;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  margin-top: 35px;
}

/*
* Formating of three display areas, header, contrain, and footer
*/

html, body
{
  height: 100%
}

div.header {
  position: absolute;
  left: 0; right: 0;
  height: 100px;
  background-color:#FF571A;
  margin:  auto;
  border: 2px solid #000000;
}

div.sidenav {
  position: absolute;
  left: 0; top: 100px; bottom: 0px;
  width: 223px;
  background-color:#FF571A;
  border: 2px solid #000000;
}
div.container  {
  position: absolute;
  left: 223px; top: 100px; right: 0; bottom: 0px;
  background-color:#FFFFFF;
  color: #111111;
  margin: auto;
  border: 2px solid #000000;
}

/*
* Formatting of our menu content
*/
ul.menu {
  float: left;
  margin-top: 15px;
  list-style-type: none;
}

ul.menu li a {
  padding: 15px 5px 15px 0px;
  text-decoration: none;
  font-size: 20px;
  color: #FFFFFF;
  display: block;
}

ul.menu li:hover {
  color: #FFFFFF;
  text-decoration: overline underline;
}

/*
* Formatting of HomePage
*/

div.search {
  margin-top: 20px;
  margin-left: 250px;
  display: inline-block;
}

div.wrapper {
  border:1px solid;
  display:inline-block;
}

table.t01 {
  overflow: auto;
  margin: auto;
  margin-top: 50px;
  border-collapse: collapse;
}

table.t01, table.t01 th, table.t01 td {
  border: 2px solid black;
  text-align: center;
}

table.t01 th, table.t01 td {
  width: 150px;
}

table.t01 td {
  height: 50px;
}

div.bottomWrapper {
  margin-top: 40px;
  display: flex;
  width: 90%;
}

div.reports {
  height: 100%;
  max-width: 200px;
  display: inline-block;
  margin-right: 100px;
}

ul.employee_menu {
  text-indent: 25px;
  list-style-type: none;
}

ul.members_menu {
  text-indent: 25px;
  list-style-type: none;
}


ul.courses_menu {
  text-indent: 25px;
  list-style-type: none;
}

ul.employee_menu li {
  margin-top: 10px;
}

ul.members_menu li {
  margin-top: 10px;
}

ul.courses_menu li {
  margin-top: 10px;
}

ul.employee_menu li a{
  text-decoration: none;
}
ul.members_menu li a{
  text-decoration: none;
}
ul.courses_menu li a{
  text-decoration: none;
}

div.tablebox {
  height: 100%;
  min-width: 400px;
  flex: auto 0 0;
  display: inline-block;
  margin-right: 100px;
}

table#t02 {
  margin-top: 50px;
  border-collapse: collapse;
  border: 1px solid black;
}

table#t03 {
  margin-top: 50px;
  border-collapse: collapse;
  border: 1px solid black;
}

table#t04 {
  margin-top: 50px;
  border-collapse: collapse;
  border: 1px solid black;
}

div.textBox {
  max-width: 200px;
  display: inline-block;
}
label {
  display:block;
}

textarea {
  display: block;
}

table.report-table {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table.report-table td, table.report-table th {
  border: 1px solid #000000;
  padding: 3px 3px;
}
